<div class="container">

    <div class="container text-center" >
        <h3>Agregar Producto</h3>
    </div>

    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nombreProducto" 
          class="form-label">Producto</label>
          <input type="text" class="form-control" 
          id="nombreProducto" name="nombreProducto" required="true"
          [(ngModel)]="producto.nombreProducto">
          <span style="color: red;" *ngIf="!producto.nombreProducto">Todos los campos con * son obligatorios</span>
        </div>
        <div class="mb-3">
          <label for="categoria" class="form-label">Categoría</label>
          <select class="form-select" id="categoria" name="categoria" [(ngModel)]="producto.categoria" required>
              <option value="Alimentos">Alimentos</option>
              <option value="Bebidas">Bebidas</option>
              <option value="Ropa de niña">Ropa de niña</option>
              <option value="Ropa de niño">Ropa de niño</option>
              <option value="Ropa de mujer">Ropa de Mujer</option>
              <option value="Ropa de hombre">Ropa de Hombre</option>
              <option value="Ropa Unisex">Ropa Unisex</option>
              <option value="Golosinas">Golosinas</option>
              <option value="Tecnologia">Tecnología</option>
              <option value="Juguetes">Juguetes</option>
              <option value="Mobiliario">Mobiliario</option>
              <option value="Material Didactico">Material Didactico</option>
              <option value="Material de Construccion">Material de Construccion</option>
              <option value="Electrodomésticos">Electrodomésticos</option>
              <option value="Cocina">Utensilios de Cocina</option>
              <option value="Cristaleria">Cristaleria</option>
              <option value="Papeleria y Bazar">Papeleria y Bazar</option>
              <option value="Accesorios">Accesorios</option>
              <option value="Ayudas Técnicas">Ayudas Técnicas</option>
              <option value="Varios">Varios</option>
          </select>
          <span style="color: red;" *ngIf="!producto.nombreProducto">*</span>
      </div>
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" 
            id="cantidad" name="cantidad" 
            [(ngModel)]="producto.cantidad" required="true">
            <span style="color: red;" *ngIf="!producto.nombreProducto">*</span>
        </div>  
        <div class="mb-3">
            <label for="unidadMedida" class="form-label">Unidad de Medida</label>
            <select class="form-select" id="unidadMedida" name="unidadMedida" [(ngModel)]="producto.unidadMedida">
                <option value="Unidades">Unidades</option>
                <option value="Cajas">Cajas</option>
                <option value="Bultos">Bultos</option>
                <option value="Quintales">Quintales</option>

            </select>
            <span style="color: red;" *ngIf="!producto.nombreProducto">*</span>
        </div>

        <div class="mb-3">
          <label for="idDonante" class="form-label">Donante</label>
          <select class="form-select" id="idDonante" name="idDonante" [(ngModel)]="producto.idDonante">
            <option value="">Selecciona un donante</option>
            <!-- Itera sobre la lista de donantes y muestra el nombre de cada donante -->
            <option *ngFor="let donante of donantes" [value]="donante.idDonante">{{ donante.nombreDonante }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="idDonanteSeleccionado" class="form-label">ID del Donante Seleccionado:</label>
          <input type="text" class="form-control" 
          id="idDonanteSeleccionado" [value]="producto.idDonante" readonly>
        </div>
        
        

        <div class="mb-3">
            <label for="personaRecibe" 
            class="form-label">Persona que Recibe Producto</label>
            <input type="text" class="form-control" 
            id="personaRecibe" name="personaRecibe" required="true"
            [(ngModel)]="producto.personaRecibe">
            <span style="color: red;" *ngIf="!producto.nombreProducto">*</span>
          </div>
          <div class="mb-3">
            <label for="personaRegistro" 
            class="form-label">Persona que Registra el Producto</label>
            <input type="text" class="form-control" 
            id="personaRegistra" name="personaRegistra" required="true"
            [(ngModel)]="producto.personaRegistro">
            <span style="color: red;" *ngIf="!producto.nombreProducto">*</span>
          </div>
          <div class="mb-3">
            <label for="fechaEntrega" 
            class="form-label">Fecha de Recepcion del Producto</label>
            <input type="date" class="form-control" 
            id="fechaEntrega" name="fechaEntrega" required="true"
            [(ngModel)]="producto.fechaEntrega">
            <span style="color: red;" *ngIf="!producto.nombreProducto">*</span>
          </div>
          <div class="mb-3">
            <label for="observaciones" 
            class="form-label"> Observaciones</label>
            <input type="text" class="form-control" 
            id="observaciones" name="observaciones" required="true"
            [(ngModel)]="producto.observaciones" style="height: 100px;">
          </div>

        <div class="text-center">
          <button type="submit" class="btn btn-agregar" (click)="validarCampos($event)">Agregar</button>
            <a href="/" class="btn btn-regresar">Regresar</a>    
        </div>
        
      </form>

</div>